@import "https://unpkg.com/open-props";
@import "./card.scss";
@import "./modal.scss";
@import "./form.scss";
@import "./reset.scss";

html {
  font-family: "Inter", sans-serif;
  height: 100vh;
}

body {
  height: 100%;
}

.app-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.main-container {
  margin-top: 2rem;
}

.sticky-container {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;

  @media (max-width: 900px) {
    position: relative;
  }
}

.page-title {
  font-size: var(--font-size-4);
  margin-bottom: 1.5rem;
}

.btn {
  background-color: var(--blue-7);
  padding: 0.5rem 1rem;
  min-width: 7em;
  border-radius: var(--radius-2);

  color: white;

  &:hover {
    background-color: var(--blue-6);
  }

  &:active {
    background-color: var(--blue-5);
    outline: 1px solid var(--blue-6);
  }
}

.container-center {
  height: 100%;
  text-align: center;
  padding-top: 5rem;

  h3 {
    color: var(--blue-8);
  }

  * {
    margin-bottom: 0.5rem;
  }
}
