label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 1rem;
}

input[type="text"] {
  width: 100%;
}

.form-control {
  margin: 1rem 0;
  width: 100%;
}
