nav {
  border-bottom: 1px solid var(--gray-2);
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2em;

  .navlist {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

    .navlist-item {
      font-weight: var(--font-weight-5);
    }

    .navlist-link {
      text-decoration: none;
      color: inherit;
      padding: 0.5rem 1rem;
      min-width: 100px;
      text-align: center;
      display: block;
      transition: background-color 0.2s ease-in-out;

      &.active {
        background-color: var(--blue-1);
        border-radius: var(--radius-2);
      }

      &:hover:not(.active) {
        background-color: var(--blue-0);
        border-radius: var(--radius-2);
      }
    }
  }
}
